html {
    font-family: "Times New Roman", sans-serif;
}

.background {
    /*background-image: url(https://images.pexels.com/photos/2061212/pexels-photo-2061212.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);*/
    background: linear-gradient(to top, mediumpurple, lightseagreen);
}

.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: aqua;
    text-decoration: underline;
}

.slippery {
    animation: slide-left 700ms;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

ul li {
    list-style-type: georgian;
}

ol li {
    list-style-type: upper-alpha;
}

table {
    padding: 1px;
    font-size: medium;
    color: white;
}

td {
    padding: 1.5px;
    font-size: small;
}

tr {
    padding: 1.5px;
    font-size: small;
}

.stock-images {
    transition: ease-out 4s;

}

.stock-images:hover {
    height: 500px;
}

a:hover {
    transition: ease-in;
    color: yellow;
}

a:visited {
    color: purple;
}

a:active {
    color: green;
}